html {
    background-color: #90CAF9;
    font-family: verdana;
    font-size: 12px;
}

.letter {
    background-color: #FFB74D;
    border: 1px solid #FFA726;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-right: 5px;
    border-radius: 4px;
    text-transform: uppercase;
}

#letters {
    text-align: center;
    width: 500px;
    padding: 15px 0;
}

#letters ul {
    display: inline-block;
}

.letter:last-child {
    margin: 0;
}

.invisible {
    background: transparent;
    border: none;
}

.line {
    width: 100%;
    float: left;
}

#pendu {
    width: 500px;
    margin: 0 auto;
    /*border: 1px solid red;*/
    margin-top: 25px;
}

.clear {
    clear: both;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.megaBlock {
    float: left;
    width: 80px;
    height: 80px;
    background-color: #42A5F5;
    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;
}

.megaBlock p {
    line-height: 20px;
    margin-top: 20px;
}

.megaBlock span {
    float: left;
    width: 100%;
}

#profil {}

#number {
    float: right;
}

#info {
    padding: 0 0 25px 0;
}

#info p {
    vertical-align: middle;
    font-size: 14px;
    text-align: center;
}

#info .fa {
    vertical-align: middle;
    margin: -3px 10px 0 0;
}

button {
    line-height: 26px;
    height: 26px;
    border: none;
    background: #FFB74D;
    padding: 0 10px;
}

button .fa {
    margin-right: 9px;
}

.message {
    width: 100%;
    text-align: center;
    line-height: 105px;
    height: 105px;
    float: left;
    font-size: 20px;
}

#game {
    height: 105px;
    float: left;
}

#accueil {
    width: 150px;
    padding: 15px;
    margin: 25px auto 0 auto;
    background-color: #42A5F5;
}

#accueil h1 {
    margin-bottom: 5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#accueil input {
    width: 100%;
    margin: 0;
    padding: 0;
    float: left;
    border: none;
    margin: 5px 0 0 0;
    padding: 3px 0;
    text-align: center;
}

#perdu {
    color: #D32F2F;
}

.megaBlock.warn {
    background-color: #E57373;
}
