<div id="accueil">
    <h1>Choisi ton Pseudo ;)</h1>
    <form ng-submit="logmein()">
        <input type="test" maxlength="8" ng-model="formPseudo" autofocus placeholder="Ex: Quentin" />
        <input type="submit" ng-disabled="form.$valid" value="Je suis prêt" />
    </form>
    <div class="clear"></div>
</div>
