<div id="pendu">
    <div class="line">
        <div id="profil" class="megaBlock">
            <p>Pseudo<span>{{account.pseudo}}</span></p>
        </div>
        <div id="number" class="megaBlock" ng-class="{'warn':try.max-try.current<2}">
            <p>Essais<span>{{try.max-try.current}}</span></p>
        </div>
        <div class="clear"></div>
    </div>
    <div id="game" ng-if="status=='game'">
        <div class="line" id="letters">
            <ul>
                <li ng-repeat="letter in selectedWord.letters" class="letter" ng-class="{'invisible':letter.toCheck==false}">
                    <p ng-if="letter.discovered==true">{{letter.content}}</p>
                    <p ng-if="letter.discovered==false">_</p>
                </li>
            </ul>
        </div>
        <div class="line" id="info">
            <p><i class="fa fa-keyboard-o fa-lg" aria-hidden="true"></i>C'est ton clavier qui pilote !</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="message" id="perdu" ng-if="status=='perdu'">Tu a perdu <i class="fa fa-frown-o" aria-hidden="true"></i> Le mot était "{{selectedWord.word}}"</div>
    <div class="message" id="gagne" ng-if="status=='gagne'">Bien joué <i class="fa fa-smile-o" aria-hidden="true"></i> Le mot était "{{selectedWord.word}}"</div>
    <button ng-click="newWord()"><i class="fa fa-undo" aria-hidden="true"></i>Nouvelle partie</button>
    <div class="clear"></div>
</div>
